* {
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.root {
    
    
}

body {
    background-color: rgba(253, 253, 253, 0.715);
}

.header {
    padding: 20px;
    text-align: center;
    background-color: rgba(73, 98, 29, 0.234);
    color: rgb(44, 44, 43);
    background-image: url(../images/backgroundsmflow\ \(1\).jpg);
    image-orientation: flip;
    height: 70px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    
}

.header h1 {
    font-size: 42px;
    font-weight: 100;
    display: inline-block;
    }
.header h1 .anand {
    color: rgb(76, 70, 70);
    font-weight: 100;
}
.header nav { 
    padding-top: 15px;
    margin-right: 30px;
    float: right;
    font-style:italic;
    font-weight: 50;
    color: rgb(57, 55, 55);
}

.header nav li {
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 100;
}

a {
    color: rgb(59, 55, 55);
    text-decoration: none;
    
}

.aboutme {
   display: inline-block;
   width: 90%;
    margin-bottom: 20px;
    padding: 20px;
}

.explore {
    float: auto;
}

.myphoto {
    float: left;
    margin: 5px;
}
p {
    font-size: 17px;
}


